{
    "presets": [ "@babel/preset-env", "@babel/preset-react" ],
    "plugins": [
        "macros",
        "dynamic-import-node",
        "react-loadable/babel",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-syntax-dynamic-import"
    ]
}