{
    "printWidth": 120,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "overrides": [
        {
            "files": "*.{cmp,page}",
            "options": {"parser": "html"}
        }
    ],
}